* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FAF6EF;
}

/*alle sider ovenover*/
/*forsiden nedenunder*/

/*oplev danmark nedenunder*/

/*regionerne nedenunder*/

/*planlæg din tur nedenunder*/

/*booking nedenunder*/

/*om os nedenunder*/

/*inspiration nedenunder*/

/*hvad har du lyst til nedenunder*/

/*kontakt nedenunder*/

/*poltik fortrolighed og vilkaar nedenunder*/
