* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*alle sider*/


/*forsiden*/

/*oplev danmark*/

/*regionerne*/

/*planlæg din tur*/

/*booking*/

/*om os*/

/*inspiration*/

/*hvad har du lyst til*/

/*kontakt*/

/*poltik fortrolighed og vilkaar*/
